

body {
   font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
    padding: 0;
    margin: 0;
  }
h2, h3, h4, h5 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 0.625rem;
  }
  
a {
    color: #2B2D42;
    font-weight: 500;
    transition: 0.2s color;
    text-decoration: none;
  }
  
/* a:hover, a:focus {
    color: #D10024;
    text-decoration: none;
    outline: none;
  } */
  
ul {
    margin: 0;
    padding: 0;
    list-style: none
  }
  
.section {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;

  }
  .price_slider{
    width: 11.25rem;
    height: 0.125rem;
    color: #D10024;
  }

  .section-title {
    position: relative;
    margin-bottom: 1.875rem;
    margin-top: 0.9375rem;
  }
  
  .title {
    display: inline-block;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .section-title .section-nav {
    float: right;
  }
  
  .section-title .section-nav .section-tab-nav {
    display: inline-block;
  }
  
  .section-tab-nav li {
    display: inline-block;
    margin-right: 0.9375rem;
  }
  
  .section-tab-nav li:last-child {
    margin-right: 0px;

  }
  
  .section-tab-nav li a {
    font-weight: 700;
    color: #8D99AE;
    text-decoration: none;

  }
  
  .section-tab-nav li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    transition: 0.2s all;
  }
  
  .section-tab-nav li.active a {
    color: #D10024;
  }
  
  .section-tab-nav li a:hover:after, .section-tab-nav li a:focus:after, .section-tab-nav li.active a:after {
    width: 100%;
  }
  
  .section-title .section-nav .products-slick-nav {
    top: 0px;
    right: 0px;
  }

  h2.jsx-3288a97c3b2f1803{
    font-weight: 400;
    font-size: 20px;
  }
  ul.jsx-3288a97c3b2f1803{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2rem;
  }
 
  /* .jsx-3288a97c3b2f1803.product-img{
    right: 0.5rem;
   
  } */
