.top-header {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #1E1F29;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links-left {
  margin-left: 12.5rem;
}

.header-links-left li {
  display: inline-block;
  margin-right: 0.9375rem;
  font-size: 0.75rem;
}

.header-links-left li:last-child {
  margin-right: 0rem;
}

.header-links-left li a {
  color: #FFF;
  text-decoration: none;
}

.header-links-left li a:hover {
  color: #D10024;
}

.header-links-left li i {
  color: #D10024;
  margin-right: 0.3125rem;
}

.container.header-links-right {
  float: right;
  margin-left: auto;
}

.header-links-right {
  margin-right: 12.5rem;
}

.header-links-right li {
  display: inline-block;
  margin-left: 0.9375rem;
  font-size: 0.75rem;
}

.header-links-right li:first-child {
  margin-left: 0px;
}

.header-links-right li a {
  color: #FFF;
  text-decoration: none;
}

.header-links-right li a:hover {
  color: #D10024;
}

.header-links-right li i {
  color: #D10024;
  margin-right: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  min-width: 3rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 0.75rem 16px;
  border-radius: 0.6rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown button {
  color: #D10024;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@media (max-width: 991px) {
  .header-links-left,
  .header-links-right {
    margin-left: 0;
    margin-right: 0;
  }
  
  .top-header {
    flex-direction: column;
  }
  
  .container.header-links-right {
    float: none;
    margin-left: 0;
  }
}
